<%= content_tag(:h1, id: "chat-room-title", data: [test: "room-title", chat_room_name: @chat_room.name]) do %>
  <%= @chat_room.name %>
<% end %>

<div>
  <ul data-role="messages">
    <%# ... messages populate %>
  </ul>
</div>


<form id="new-message-form">
  <label>
    New Message <input id="message" name="message" type="text" />
  </label>

  <button type="submit">Send</button>
</form>
